tf-nightly-cpu==2.7.0.dev20210706  # required for converting immutable variables
onnx==1.9.0
onnx-tf==1.8.0
torch==1.9.0
torchvision==0.10.0
# below: pin some versions because pip didn't resolve them right 
numpy==1.19.2
six==1.15.0
typing-extensions==3.7.4
